body {
  background-color: darkcyan;
  padding: 15px;
}

button {
  width: auto;
  height: auto;
  margin: 25px;
  padding: 15px;
  font-size: 35px;
  color: rgb(207, 243, 231);
  background-color: cadetblue;
  border: 3px solid cadetblue;
}

h1 {
  border: 1px solid rgb(207, 243, 231);
  text-align: center;
  color: rgb(207, 243, 231);
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  text-transform: uppercase;
}

.title {
  display: flex;
  color: rgb(207, 243, 231);
  font-family: "Times New Roman", Times, serif;
}

p {
  color: burlywood;
  font-style: italic;
  font-size: 20px;
}

p::first-letter {
  text-transform: uppercase;
}

.el::before {
  content: "\27A4";
}

.el {
  text-transform: uppercase;
}
